body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  display: flex;
  height: 100vh;

}

.diamond.timer {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 50px;
  margin-left: 100px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
  display: inline;
  left: 15%;
  bottom: 5%;
 

}

.dorotime {
  text-align: left;
  color: #fff;
  font-size: 80px;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 75px;
  padding-right: 150px;

}

.sm-diamond-top.timer {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 30px 0px 40px 0px;
  margin-left: 25px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
  display: inline;
  left: 40%;
  bottom: 50%;
}
.sm-diamond-bottom.timer {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 50px 0px 30px 0px;
  margin-left: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
  display: inline;
  left: 40%;
  bottom: 30%;
}
.sm-diamond-right.timer {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 50px 0px 30px 0px;
  margin-left: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
  display: inline;
  left: 70%;
  bottom: 70%;
}
.diamond-text{
  font-size: 30px;
  color: #000;
  text-align: center;
  padding-top: 10px;

}


.container {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 700px;
  height: 900px;
}

p {
  color: #666;
  margin-right:45px;
  font-size: 50px;
  transform: rotate(-45deg);
  /* padding-bottom: 25px; */
}

.diamond button{

  background: none;
  color: #000;
  border: none;
  padding: 10px 10px 0px 0px;
  margin-left:136px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  transform: rotate(-45deg);
}

button:hover {

  background-color: #000;
  color: #fff;
}

.sm-diamond button {
  
  background: none;
  color: #000;
  border: none;
  padding: 5px 5px 0px 5px;
  margin-right: 10px;
  margin-left:120px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  transform: rotate(-45deg);
  
}


